<!DOCTYPE html>
<html>
<head>
  <title><%= @title ? "PinsToPaper | #{@title}" : 'PinsToPaper' %></title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="main">
    <div class="pure-g">
      <div class="pure-u-1">
        <%= yield %>
      </div>
    </div>
  </div>

</body>
</html>
